.container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.sectionOne {
  background-color: rgb(251, 246, 239);
  padding: 50px 10px;
}

.titleHome {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.paragrap {
  -webkit-animation: slide-in-fwd-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-family: "Dancing Script", cursive;
  position: absolute;
  margin-left: 92px;
  margin-top: 47px;
  transform: translateX(110px);
  font-size: 20px;
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.adress {
  margin-top: 20px;
}

.adressLocation {
  padding-bottom: 50px;
  text-decoration: underline;
}

@media screen and (min-width: 425px) {
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
